@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@300&display=swap');
.container {
  margin-top: 10vh;
  display: grid;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
}

.header {
  width: 50vw;
  height: 4vh;
  background-color: #E2DDD3;
  color: #844F15;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding: 3px;
  font-weight: 600;
  border: solid;
  border-color: #844F15;
  border-width: 1px 1px 0px 1px;
}

.content {
  border: solid 1px #844F15;
  border-radius: 0px 0px 5px 5px;
  height: 40vh;
  justify-content: center;
  
}

.idInput {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 20% 40% 10% 10%;
}

.pwdInput, .repwdInput {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 20% 50%;
}

.nicknameInput, .authInput {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 20% 40% 10%;
}

.idInput > input {
  width: 300px;
  margin-left: 30px;
}

.idInput > label {
  margin-left: 20px;
}

.authInput > input {
  width: 300px;
  margin-left: 30px;
}

.authInput > label {
  margin-left: 20px;
}

.nicknameInput > input {
  width: 300px;
  margin-left: 30px;
}

.nicknameInput > label {
  margin-left: 20px;
}

.pwdInput > input {
  width: 300px;
  margin-left: 30px;
}

.pwdInput > label {
  margin-left: 20px;
}

.repwdInput > input {
  width: 300px;
  margin-left: 30px;
}

.repwdInput > label {
  margin-left: 20px;
}

.signUpBtnArea {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 20px;
}

.signUpBtn, .duplicateBtn, .backBtn {
  background-color: #C2A894;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.emailAuthBtn {
  background-color: #C2A894;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

.authBtn {
  background-color: #C2A894;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.sign-up {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

/* .signUpBtnArea > button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif !important;
  font-family: 'Roboto', sans-serif !important;
} */