.area {
  
  width: 65%;
  height: 80px;
}

.area > input {
   width: 40%;
   height: 30px;
   font-size: 1em;
   margin-top: 15px;
   margin-left: 40%;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #C2A894;
  font-weight: 500;
  width: 76px;
  height: 36px;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  font-weight: 700;
}