.area {
  border: 1px solid limegreen;
  width: 70%;
  margin-left: 15%;
  height: 760px;
  overflow-y: scroll;
}

.area > hr {
  height: 1px;
  margin-top: 1%;
  color: #844F15;
  background-color: #844F15;
}

.textinput {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.checkinput > div{
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.checkinput > div > label {
  margin-right: 1%;
  margin-left: 5px !important;
}

.timeinput > div{
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 2%;
}


.title {
  margin-top: 2%;
  font-size: 1.3em;
  font-weight: 900;
  margin-left: 1%;
}

.subtitle {
  font-size: 1em;
  font-weight: 700;
  margin-left: 1%;
}

.description {
  font-size: 0.8em;
  margin: 1%;
  margin-top: 1%;
}

.defaultbtn {
  border: none;
  border-radius: 5px;
  background-color: #CDCDCD;
  color: white;
  font-weight: 600;
  font-size: 1em;
  width: 80px;
  height: 35px;
  margin: 1%;
  cursor: pointer;
}
.choosenbtn {
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-weight: 600;
  font-size: 1em;
  width: 80px;
  height: 35px;
  margin: 1%;
  cursor: pointer;
}

.imageinputarea {

  margin-top: 1%;
  margin-left: 1%;
}

.imageinputarea > label {
  font-size: 1em;
  font-weight: 600;
}

.imageinputarea > div {
  border: 1px solid #ababab;
  width: 500px;
  height: 300px;
}

.imageinputbox {
  text-align: center;
}

.imageinputbox > img {
  width: 150px;
  height: 150px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.imageinputbox > label {
  font-size: 1.2em;
}

.imageinputbox > button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #454CAD;
  color: white;
  margin-top: 5%;
  cursor: pointer;
}

.descriptarea {
  margin-left: 1%;
}
.descriptarea > label {
  
  font-size: 1em;
  font-weight: 600;
}

.descriptarea > textarea {
  width: 30%;
  height: 200px;
}

.registbtnarea {
  text-align: right;
  margin-right: 10%;
  margin-bottom:  40px;
}
.registbtnarea > button {
  border: none;
  border-radius: 5px;
  background-color: #E1DBD6;
  font-weight: 600;
  font-size: 1em;
  width: 100px;
  height: 40px;
  margin: 1%;
  cursor: pointer;
}