@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@300&display=swap');

.challengeListBox {
  border: 1px solid #844F15;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  margin: auto;
}

.container {
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif !important;
}

.headerCategory {
  margin-left: 50px;
}