@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@300&display=swap');


.container {
  width: 100vw;
  height:90vh;
  font-family: 'Noto Sans KR', sans-serif !important;
}

.registForm {
  width:60%;
  height: 80%;
  border: solid 2px #C2A894;
  border-radius: 5px;
  margin: auto;
  
}

.header{
  width: 100%;
  font-size: 20px;
  font-weight: 1000;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10vw;
}

.line {
  width: 80%;
}

.titleInput {
  margin-top: 20px;
  margin-left: 20px;
  width: 80%;
  height: 5%;
  font-size: 16px;
}

.title {
  margin-left: 2%;
}

.content {
  margin-left: 20px;
}

.contentArea {
  margin-top: 20px;
  margin-left: 73px;
  width: 80%;
  height: 55vh;
  resize: none;
  
}

.btnArea {
  margin-top: 20px;
  text-align: center;
}

.btn{
  background-color: #C2A894;
  border: none;
  border-radius: 3px;
  padding: 7px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}