.categoryBtn {
  margin-top: 5vh;
  margin-left: 5vw;
}

.categoryBtn > input {
  margin: 10px;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #C2A894;
  color: white;
  cursor: pointer;
  font-weight: 400;
  
  
}