.area {
    /* border: solid 1px black; */
    width: 150px;
    height: 81vh;
    margin-left: -7.5px;
    /* margin-top: 5px; */
    flex-grow: 0;
    background-color: #F5F1EE;
}

.tab {
    /* margin-top: 50px;
    margin-left: 5px; */
    color: black;
}

.tabArea {
    margin-top: 12px;
    margin-left: 10px;
}