.area {
    /* border: solid 1px black; */
    
    height: 75.6vh;
    margin-left: -7.5px;
    margin-top: 21px;
    flex-grow: 1;
    background-color: #F5F1EE;
}

.tab {
    /* margin-top: 50px;
    margin-left: 5px; */
    color: black;
}

.tabArea {
    margin-top: 12px;
    margin-left: 10px;
}