.challengeContainer {
  display: flex;
  flex-direction: column;
}

.challengeContainer > img {
  margin-left: 20px;
  box-shadow: 5px 5px 5px rgb(204, 204, 204);
  margin-top: 10px;
  
}

.challengeTitleArea {
  margin-left: 20px;
  display: inline-flex;
}

.challengeStatus {
  background-color: #E2DDD3;
  border-radius: 3px;
  text-align: center;
  width: 75px;
  height: 23px;
  padding-top: 4px;
  margin-top: 10px;
}

.challengeTitle {
  background-color: #E2DDD3;
  border-radius: 3px;
  margin-left: 10px;height: 23px;
  padding-top: 4px;
  margin-top: 10px;
  width: 214px;
  overflow: hidden;
}

.challengeInfoArea {
  margin-left: 20px;
  display: inline-flex;
}

.challengeInfoArea {
  margin-top: 8px;
  margin-left: 20px;
  display: inline-flex;
}
.duration , .participant{
  background-color: #E2DDD3;
  border-radius: 4px;
  padding: 3px;
  display: inline-flex;
}
.duration {
  width: 150px;
  height: 20px;
  padding-top: 4px;
  margin-top: 5px;

}

.participant {
  width: 130px;
  height: 20px;
  padding-top: 4px;
  margin-top: 5px;
  margin-left: 8px;
}