.area {
  width: 80%;
  margin-left: 5%;
}

.head {
  margin: 3%;
}
.head > label {
  font-size: 1.3em;
  font-weight: 800;
  padding-right: 85%;
}

.body {
  margin: 3%;
  height: 500px;
}

.tablehead {
  height: 60px;
  font-size: 1.1em;
  font-weight: 800;
  background-color: aquamarine;
}

.tabledata {
  height: 40px;
  font-size: 1.1em;
}

.pagearea {
  text-align: center;
}